* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-main {
   background-color: #E02C6D;
   color: white;
   font-size: 1.25rem;
   font-weight: 500;
   border: none;
   padding: 10px 24px;
   border-radius: 20px; 
}
.space-right {
    padding-right: 12px;
}


/* Header Section */
header {
    max-width: 1200px;
    margin: 0 auto;
}

header .banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar */
.navbar h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar {
    margin-top: 87px;
    display: flex;
    justify-content: space-between;
}

.navbar  ul {
    margin-top: 7px;
    display: flex;
    justify-content: space-evenly;
}

.navbar  ul li {
    list-style: none;
    padding: 10px;

}

.navbar  ul li a {
    text-decoration: none;
    color: black;
}

/* banner section */
.banner-section {
    margin-top: 50px;
    margin-bottom: 100px;
}


.banner-section .banner-content {
    max-width: 582px;
}

.banner-section .banner-content .banner-heading {
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
}

.banner-section .banner-content .banner-text {
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    margin: 16px 0;
}

.banner-section .banner-image {
    background-image: url(/assets/images/Circle-design.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 475px auto;
    position: relative;
}

/* Company Icons Section */
.company-icons {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.company-icons img {
    margin: 60px 0;
}


/* Popular Collections Section  */
.popular-collections {
    max-width: 1047px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-collections .section-heading {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 70px;
}

.popular-collections h5 {
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
    margin-top: 50px;
}
    

.popular-collections .collection-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.popular-collections .collection-cards .product-card {
    width: 329px;
    height: 478px;
    border: none;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popular-collections .collection-cards .product-card img {
    width: 300px;
    margin: 15px;
    border-radius: 7px;
}

.popular-collections .collection-cards .product-card .card-details {
    padding: 14px;
}

.card-details .product-name {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.card-details .product-price {
    font-size: 1.25rem;
    font-weight: 400;
}


.card-details .product-rating, .product-text-1, .product-text-2 {
    font-size: 0.9rem;
    font-weight: 400;
}



.gold-star {
    color: gold;
}

/* featured-products section */

.featured-products {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 96px;
}

.featured-products .featured-content {
    max-width: 610px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center; 
}


.fetured-content .content-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}


.fetured-content .content-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 16px;
    color: #6C6C6C;
}

.fetured-content button {
    border-radius: 0;
}


/* Footer section */
/* ...................... */

footer {
    max-width: 1440px;
    height: 240px;
    margin: 0 auto;
    background-color: rgb(26, 27, 29);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    max-width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.footer-copyright-1, .footer-copyright-2 {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    line-height: 24px;
}


.footer-icons {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.footer-icons i {
    color: white;
    font-size: 1.75rem;
}
